*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(0, 162, 255);

}

h1{
    color: rgb(8, 0, 255);
}
 h2{
    color: rgb(8, 0, 255);
 }

img.lado{
    float: right;
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    box-shadow: 3px, 3pc, 5px, rgb(42, 6, 6);
    padding: 10px;;
}